.TopNav {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.TopNavSearch {
    position: relative;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
    /* overflow: hidden; */
}
.TopNavSearch > input {
    height: 55px;
    width: 329px;
    padding-left: 20px;
    padding-right: 50px;
    background: #ffffff;
    /* padding: 10px 60px 10px 20px; */
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid #898989;
    /* color: #455560; */
    /* border-width: 0; */
    /* background-color: #ffffff; */
}
.TopNavSearch > i {
    font-size: 18px;
    position: absolute;
    right: 20px;
}
.WrapperTopNavRight {
    display: flex;
    align-items: center;
    column-gap: 20px;
    /* position: relative; */
}

.DropdownBell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ede7f6;
    border-radius: 5px;
    color: #5e35b1;
    cursor: pointer;
    /* position: relative; */
}
.DropdownBlueCog {
    flex-grow: 0;
    width: 100px;
    height: 56px;
    background: #1e88e5;
    border-radius: 28px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    justify-content: space-between;
}
.LogoAvatar {
    border-radius: 50%;
    width: 72px;
    height: 50px;
}

.NotificationItem {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.NotificationItem:hover {
    background-color: #fafafb;
}
.NotificationItem > i {
    margin-right: 20px;
    font-size: 1.5rem;
}
.MenuItemContent {
    display: flex;
    align-items: center;
    width: max-content;
    right: 0;
    border-radius: 29px;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}

.DropdownContent {
    /* position: absolute; */
    top: calc(100% + 5px);
    right: 0;
    width: max-content;
    max-width: 400px;
    /* background-color: vaR(--main-bg); */
    /* box-shadow: var(--box-shadow); */
    border-radius: 29px;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
