.ModalVideo {
    width: 626px;
    height: 352px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 925px) {
    .ModalVideo {
        width: 300px;
        height: 352px;
        margin-left: auto;
        margin-right: auto;
    }
}
